BasedOnStyle: WebKit
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
IndentGotoLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackParameters: true
BinPackArguments: true
DerivePointerAlignment: false
FixNamespaceComments: false
SortIncludes: true
ReflowComments: false
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignTrailingComments: true
